{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0 shadow-lg" style="background-color: #d2b48c; border-radius: 1rem;">
        <div class="card-body p-5">
          <div class="row">
            <div class="col-md-6 text-center">
              <img src="https://static1.squarespace.com/static/63dc43bd20b8ee75ce23df55/t/63e1433978c1693f6438c75e/1675707193281/CC%2BLogo%2BRound.png?format=1500w" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-md-6">
              <h2 class="card-title text-center" style="color: #8b4513;">Registrate</h2>

              {% if error %}
              <div class="alert alert-danger" role="alert" style="background-color: #cd853f; color: #fff;">
                {{ error }}
              </div>
              {% endif %}

              <form action="/signup/" method="post">
                {% csrf_token %}

                <div class="form-group">
                  <label for="username">Nombre de usuario</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre de usuario">
                </div>

                <div class="form-group">
                  <label for="password1">Contraseña</label>
                  <input type="password" class="form-control" id="password1" name="password1" placeholder="Ingrese su contraseña">
                </div>

                <div class="form-group">
                  <label for="password2">Confirmar contraseña</label>
                  <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirme su contraseña">
                </div>

                <button type="submit" class="btn btn-primary btn-block" style="background-color: #8b4513; color: #fff;">Registrarme</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
